; ssh -o PasswordAuthentication=yes -o PreferredAuthentications=keyboard-interactive,password -o PubkeyAuthentication=no -L 27017:localhost:27017 root@ip
PRISMA_DATABASE_URL=mongodb://localhost:27017/meteor?directConnection=true
